* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0,74,173,255);
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color: whitesmoke;
    padding: 15px;
}

header > h1 {
    color: rgba(0,74,173,255);
    text-align: center;
}

.score {
    margin: 20px auto;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    border: 3px solid whitesmoke;
    width: 200px;
    color: whitesmoke;
    font-size: 50px;
    position: relative;
}

.place {
    background-color: rgb(189,207,233);
    color: whitesmoke;
    font-size: 15px;
    padding: 2px 10px;
}

#user-place{
    top: 55px;
    left: -30px;
    position: absolute;
}

#computer-place{
    top: 55px;
    right: -50px;
    position: absolute;
}

.result {
    font-size: 30px;
    color: whitesmoke;
}

.result > p {
    text-align: center;
}